$navWidth: 960px;
$btnNum: 5;
$mainColor: #69F;
$bgColor: #fff;
$bgColorHover: navy;
$border: solid 1px $mainColor;

$borderLine: solid 1px blue;
$menuWidth: 200px;
$gapMenu2Main: 5px;

$myImageUrl: "../images/boat.jpeg";